$easing: cubic-bezier(0.5,2,0.5,0.75);

.profile{

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;

    &__top-container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 40%;
        background: rgba($color: black, $alpha: .2);
    }

    &__image-change{
        position: relative;
        width: 100%;
        height: 100%; 
    }

    &__background-img{
        width: 100%;
        height: 100%; 
        object-fit: cover;
        object-position: top;
        position: absolute;
    }

    &__upload-container{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 5px;
        bottom: 0;
        right: 0;
    }

    &__upload-input{
        outline: none;
        border-style: none;
        border-radius: 5px;
        padding-left: 5px;
        height: 24px;
        width: 200px;
        margin-right: 10px;
        opacity: 0.3;

        &:focus{
            opacity: 1;
        }
    }

    &__upload-btn{
        background: $magenta;
        color: $white;
        font-family: $poppins-light;
        border-style: none;
        border-radius: 5px;
        padding: 5px 10px;
        outline: none;
        cursor: pointer;
        font-size: 10px;
        opacity: 0.4;

        &:hover{
            opacity: 1;
        }

        &--image-change{
            position: absolute;
            justify-content: flex-end;
            margin-bottom: 5px;
            bottom: 0;
            right: 0;
        }
    }

    &__bottom-container{
        display: flex;
        flex-direction: row;
        height: 60%;
        padding: 0 10%;
    }

    &__user-information-container{
        position: relative;
        width: 20%;
    }

    &__user-information{
        position: absolute;
        width: 100%;
        top: -20%;
    }

    &__avatar-container{
        position: relative;
        width: 100%;
    }

    &__emojis-container {
        position: absolute;
        width: auto;
        right: -20px;
        bottom: -10px;
    }

    &__emojis-btn {
        background: none;
        border: none;
        outline: none;
        font-size: 30px;
        padding: 0;
        width: auto;
        cursor: pointer;
     }
        
    &__emojis-dropdown {
        position: relative;
    }

    &__emojis-dropdown-options {
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;

        &--open{
            display: flex;
            flex-direction: row;
            position: absolute;
            left: 47px;
            bottom: -26px;
            padding: 0;
            background: rgba($color: $white, $alpha: .4);
            border-radius: 50px;
        }
    }
              
    &__emojis-option {
        display: inline-block;     
        cursor: pointer;
    }

    &__emojis-option-text {
        background: none;
        border: none;
        text-decoration: none;
        display: inline-block;
        padding: 7px 7px;
        border-radius: 100%;
        font-size: 30px;
        cursor: pointer;

        &--active {
            background: rgba($color: $magenta, $alpha: 1);
        }

        &:hover {
            background: rgba($color: black, $alpha: .6);
        }
    }

    &__avatar-img{
        width: 210px;
        height: 210px;
        border-radius: 10px;
        object-fit: cover;
        object-position: top;
    }

    &__information{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    &__info{

        font-size: 15px;
        margin: 0;

        &--title{

        }

        &--text{
            margin-bottom: 15px;
            font-family: $poppins-light;
        }
    }
    
    &__user-stats{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        padding-left: 40px;
    }

    &__username-container{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    &__username{

    }

    &__user-status{
        
    }

    &__panels-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 35px;
        row-gap: 20%;
        grid-auto-rows: 80% 20%;
        height: 100%;
        margin-top: 30px;
        padding-bottom: 350px; //space at the end of the screen
        margin-left: $main-margin;
    }

    &__log-out{
        margin-top: 30px;
        background: $magenta;
        font-family: $poppins-light;
        color: $white;
        outline: none;
        border-style: none;
        border-radius: 20px;
        height: 30px;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }

    .spotify-panel{

        &__container{
            width: 85%;
        }

        &__btn{
            font-size: 12px;
        }
    }
}