@font-face {
  font-family: Poppins-regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-semiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-light;
  src: url("../fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins-light-italic;
  src: url("../fonts/poppins/Poppins-LightItalic.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins-regular";
  background-color: #090B22;
  color: #FFFFFF;
}

h1 {
  font-size: 22px;
  font-family: "Poppins-bold";
}

a {
  color: #FFFFFF;
}

p, h2 {
  margin: 10px 0px;
}

abbr {
  text-decoration: none;
}

.icon {
  margin: 0px 5px;
}

hr {
  width: 100%;
  margin: 0;
  border-color: #ffffff20;
}

::-webkit-scrollbar {
  /* width of the entire scrollbar */
  width: 17px;
}

::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: rgba(144, 152, 189, 0.2);
  /* roundness of the scroll thumb */
  border-radius: 20px;
  /* creates padding around scroll thumb */
  border: 5px solid #090B22;
}

.app__content {
  height: 100%;
}

.app__navbar {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 60px;
  height: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #001E4D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__logo {
  margin-left: 40px;
  height: 30%;
}

.app__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 33%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__link {
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}

.app__link--selected {
  color: white;
  font-family: "Poppins-bold";
  font-size: 18px;
  text-decoration: none;
}

.app__user-options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.app__notifications-icon {
  height: 30%;
}

.app__username-and-ocupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  line-height: 100%;
}

.app__nav-username {
  margin: 0;
  font-size: 15px;
  font-family: "Poppins-bold";
}

.app__nav-user-ocupation {
  margin: 0;
  font-size: 14px;
}

.app__user-avatar-container {
  height: 70%;
}

.app__user-avatar {
  height: 100%;
}

.app__sections-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.home__left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home__publicity-container {
  min-height: 206px;
  height: 33.3%;
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #101935;
}

.home__modules-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 35px;
  row-gap: 30px;
  grid-auto-rows: minmax(auto, 50%);
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.home__panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 270px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home__select {
  background-color: transparent;
  border: none;
  margin: 0 0 15px 0;
  width: auto;
  font-family: "Poppins-bold";
  font-size: 20px;
  cursor: pointer;
  color: #FFFFFF;
  outline: none;
}

.home__select::-webkit-scrollbar {
  width: 0;
}

.home__select-option {
  font-family: "Poppins-medium";
  font-size: 15px;
  color: #001E4D;
  padding: 0 0 0 5px;
}

.home__select-option--disable {
  font-family: "Poppins-medium";
  font-size: 15px;
  color: #9098BD;
  padding: 0 0 0 5px;
}

.home__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 100%;
  margin-left: auto;
  background-color: #1F223F;
}

.home__calendar-container {
  height: 30%;
  width: 100%;
}

.home__schedule-container {
  height: 45%;
  width: 100%;
}

.home__reminder-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  padding: 20px 15px;
}

.home__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.home__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px;
  height: 100%;
  background-color: rgba(144, 152, 189, 0.2);
}

.home__card-title {
  color: #FFFFFF;
  font-family: "Poppins-bold";
  font-size: 15px;
  margin: 0;
}

.home__card-text-area {
  font-family: "Poppins-regular";
  font-size: 12px;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border-style: none;
  color: #FFFFFF;
  resize: none;
  overflow-y: hidden;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.courses__left-container {
  width: 80%;
  padding: 0px 40px;
}

.courses__right-container {
  width: 20%;
  padding: 0px 20px;
  background-color: #1F223F;
}

.upcoming-exams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #101935;
  height: 100%;
}

.upcoming-exams__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 20% 25% 20% 5%;
      grid-template-columns: 30% 20% 25% 20% 5%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #212B4A;
  height: 25%;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upcoming-exams__titles {
  margin: 0;
  font-family: "Poppins-bold";
  color: #FFFFFF;
  font-size: 15px;
}

.upcoming-exams__rows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%;
  padding: 0 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.upcoming-exams__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 20% 25% 20% 5%;
      grid-template-columns: 30% 20% 25% 20% 5%;
}

.upcoming-exams__info {
  color: #FFFFFF;
  font-size: 15px;
}

hr {
  width: 100%;
  margin: 0;
  border-color: #ffffff20;
}

.upcoming-activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #101935;
  height: 100%;
}

.upcoming-activities__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 30% 20%;
      grid-template-columns: 25% 25% 30% 20%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #212B4A;
  height: 25%;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upcoming-activities__titles {
  margin: 0;
  font-family: "Poppins-bold";
  color: #FFFFFF;
  font-size: 15px;
}

.upcoming-activities__rows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%;
  padding: 0 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.upcoming-activities__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 30% 20%;
      grid-template-columns: 25% 25% 30% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upcoming-activities__info {
  color: #FFFFFF;
  font-size: 15px;
}

.upcoming-activities__info--finished {
  color: #23DF41;
}

.upcoming-activities__info--pending {
  color: #BDC4FF;
}

.upcoming-activities__info--in-progress {
  color: #FFEDBD;
}

.upcoming-activities__info--yellow {
  margin: 0;
  padding: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85%;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #FFB508;
}

.upcoming-activities__info--purple {
  margin: 0;
  padding: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85%;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #6F447A;
}

.upcoming-activities__info--gray {
  margin: 0;
  padding: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85%;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #9098BD;
}

.courses-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.courses-progress__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 13px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #161A30;
}

.courses-progress__progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses-progress__course-information {
  margin-left: 20px;
}

.courses-progress__text {
  margin: 0;
  color: #FFFFFF;
  font-family: "Poppins-bold";
}

.courses-progress__text--title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Poppins-bold";
}

.courses-progress__text--description {
  margin: 0;
  color: #FFFFFF;
  font-family: "Poppins-light-italic";
  font-size: 13px;
}

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  color: #FFFFFF;
}

.task-list__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 55% 25% 10%;
      grid-template-columns: 10% 55% 25% 10%;
  padding: 13px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #161A30;
}

.task-list__sign {
  margin: 0;
  font-family: "Poppins-medium";
  font-size: 30px;
  color: #F73C57;
  margin-left: 5px;
}

.task-list__info {
  margin: 0;
}

.task-list__title {
  margin: 0;
  font-family: "Poppins-bold";
}

.task-list__description {
  margin: 0;
  font-size: 14px;
}

.task-list__deadline {
  margin: 0;
}

.task-list__check-img {
  margin-left: auto;
}

.individual-course {
  background-color: #101935;
  width: 480px;
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
}

.individual-course::before {
  content: "";
  width: 25px;
  height: 100%;
  top: 0;
  right: 30px;
  position: absolute;
  background-color: #6F447A;
}

.individual-course .icon:first-child {
  margin-left: 0px;
  margin-right: 7px;
}

.individual-course__text-progress {
  opacity: .8;
}

.individual-course__progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  margin-top: 10px;
  width: 330px;
  height: 10px;
}

.individual-course__progress-bar::-webkit-progress-value {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0px;
  border-radius: 8px;
  background: #6F447A;
}

.individual-course__progress-bar::-webkit-progress-bar {
  border-radius: 8px;
  background: #273049;
}

.time-line-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-calendar {
  height: 100%;
}

.react-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  background: transparent;
  font-family: "Poppins-regular";
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 0.70em;
  font-family: "Poppins-light";
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 20%;
  width: 100%;
}

.react-calendar__viewContainer {
  height: 80%;
  width: 100%;
}

.react-calendar__month-view {
  height: 100%;
}

.react-calendar__navigation button {
  min-height: 20px;
  background: none;
  color: rgba(255, 255, 255, 0.4);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(144, 152, 189, 0.2);
}

.react-calendar__navigation button[disabled] {
  background-color: rgba(144, 152, 189, 0.2);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins-medium";
  font-size: 0.60em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day {
  color: #FFFFFF;
}

.react-calendar__month-view__days__day--weekend {
  color: #FFB508;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(255, 255, 255, 0.3);
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.8);
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  background: none;
}

.react-calendar__tile:disabled {
  background-color: rgba(144, 152, 189, 0.2);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(144, 152, 189, 0.2);
  color: #FFFFFF;
}

.react-calendar__tile--now {
  background: #F73C57;
  color: #FFFFFF;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #F73C57;
}

.react-calendar__tile--hasActive {
  background: rgba(144, 152, 189, 0.8);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: rgba(144, 152, 189, 0.8);
}

.react-calendar__tile--active {
  background: rgba(144, 152, 189, 0.8);
  color: #FFFFFF;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgba(144, 152, 189, 0.8);
}

.home-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  margin-left: 20px;
}

.home-schedule::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: rgba(144, 152, 189, 0.2);
  /* roundness of the scroll thumb */
  border-radius: 20px;
  /* creates padding around scroll thumb */
  border: 5px solid #1F223F;
}

.home-schedule__title {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Poppins-bold";
}

.home-schedule__row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.home-schedule__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  margin-bottom: 20px;
}

.home-schedule__course-icon {
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins-bold";
  border-radius: 100%;
  margin-right: 20px;
}

.home-schedule__course-icon--purple {
  background-color: #6F447A;
}

.home-schedule__course-icon--gray {
  background-color: #9098BD;
}

.home-schedule__course-icon--yellow {
  background-color: #FFB508;
}

.home-schedule__course-icon--magenta {
  background-color: #F73C57;
}

.home-schedule__course-letter {
  position: absolute;
  font-size: 15px;
}

.home-schedule__course-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-schedule__course-name {
  margin: 0;
  font-family: "Poppins-bold";
}

.home-schedule__course-schedule {
  margin: 0;
  font-family: "Poppins-light-italic";
}
/*# sourceMappingURL=main.css.map */