@font-face{
    font-family: Poppins-regular;
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face{
    font-family: Poppins-medium;
    src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face{
    font-family: Poppins-semiBold;
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face{
    font-family: Poppins-bold;
    src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face{
    font-family: Poppins-light-italic;
    src: url("../fonts/poppins/Poppins-LightItalic.ttf");
}

$Poppins-regular: "Poppins-regular"; 
$Poppins-medium: "Poppins-medium";
$Poppins-bold: "Poppins-bold";
$poppins-light-italic: "Poppins-light-italic";

$main-margin: 40px;
$panelsborderradius: 10px;

$darkblue: #001E4D;
$blue: #00367C;
$purple: #6F447A;
$magenta: #F73C57;
$darkgray: #1F223F;
$gray: #9098BD;
$yellow: #FFB508;
$darkbackground: #090B22;
$white: #FFFFFF;
$panelsbackground: #101935;
$panelheaderbackground: #212B4A;


@import '../containers/App/App';
@import '../containers/Home/Home';
@import '../containers/Courses/Courses';
@import '../containers/Schedule/Schedule';
@import '../containers/Profile/Profile';
@import '../containers/Chat/Chat';

@import '../components/UpcomingExams/UpcomingExams';
@import '../components/UpcomingActivities/UpcomingActivities';
@import '../components/CoursesProgress/CoursesProgress';
@import '../components/TaskList/TaskList';
@import '../components/IndividualCourse/IndividualCourse';
@import '../components/TimeLineItem/TimeLineItem'
