@font-face {
  font-family: Poppins-regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins-regular";
  background-color: #090B22;
}

::-webkit-scrollbar {
  /* width of the entire scrollbar */
  width: 17px;
}

::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: rgba(144, 152, 189, 0.2);
  /* roundness of the scroll thumb */
  border-radius: 20px;
  /* creates padding around scroll thumb */
  border: 5px solid #090B22;
}

.app__content {
  height: 100%;
}

.app__navbar {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 60px;
  height: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #001E4D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__logo {
  margin-left: 40px;
  height: 30%;
}

.app__linkscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 33%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__link {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.app__link--selected {
  color: white;
  font-family: "Poppins-bold";
  font-size: 18px;
  text-decoration: none;
}

.app__useroptionscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.app__notificationsicon {
  height: 30%;
}

.app__usernameandocupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  line-height: 100%;
}

.app__navusername {
  margin: 0;
  font-size: 15px;
  font-family: "Poppins-bold";
}

.app__navuserocupation {
  margin: 0;
  font-size: 14px;
}

.app__useravatarcontainer {
  height: 70%;
}

.app__useravatar {
  height: 100%;
}

.app__sectionscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  height: 100%;
}

.home__leftcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home__publicitycontainer {
  min-height: 206px;
  height: 33.3%;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #F73C57;
}

.home__modulescontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 35px;
  row-gap: 30px;
  grid-auto-rows: minmax(auto, auto);
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.home__panelcontainer {
  min-height: 270px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F73C57;
}

.home__select {
  background-color: transparent;
  border: none;
  margin: 0 0 15px 0;
  width: auto;
  font-family: "Poppins-bold";
  font-size: 20px;
  cursor: pointer;
  color: white;
  outline: none;
  display: block;
}

.home__select::-webkit-scrollbar {
  width: 0;
}

.home__selectoption {
  font-family: "Poppins-medium";
  font-size: 15px;
  color: #001E4D;
  padding: 0 0 0 5px;
}

.home__selectoption--disable {
  font-family: "Poppins-medium";
  font-size: 15px;
  color: #9098BD;
  padding: 0 0 0 5px;
}

.home__rightcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 100%;
  margin-left: auto;
  background-color: #1F223F;
}

.home__calendarcontainer {
  height: 30%;
  width: 100%;
}

.home__schedulecontainer {
  height: 45%;
  width: 100%;
}

.home__remindercontainer {
  height: 25%;
  width: 100%;
}

.home__calendar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: #F73C57;
}

.home__schedule {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: #9098BD;
}

.home__reminder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: #F73C57;
}
/*# sourceMappingURL=main.css.map */