.home{

    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
    overflow-x: hidden;

    &__left-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__publicity-container{
        min-height: 206px;
        height: 33.3%;
        margin-top: 30px;
        border-radius: $panelsborderradius;
        margin-left: $main-margin;
        margin-right: $main-margin;
        //background-color: $panelsbackground;
    }

    &__publicity-img{
        border-radius: $panelsborderradius;
        width: 100%;
        height: 100%;
    }

    &__modules-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 35px;
        row-gap: 30px;
        grid-auto-rows: minmax(auto, 50%);
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        margin-left: $main-margin;
        margin-right: $main-margin;
    }

    &__panel-container{
        display: flex;
        flex-direction: column;
        min-height: 270px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    &__select-container{
        
    }

    &__panel-title{

    }

    &__select{
        // Additional resets for further consistency
        background-color: transparent;
        border: none;
        margin: 0 0 15px 0;
        width: auto;
        font-family: $Poppins-bold;
        font-size: 20px;
        cursor: pointer;
        color:$white;
        outline: none;

        &::-webkit-scrollbar { 
            width: 0;
        }
        
    }

    &__select-option{
        font-family: $Poppins-medium;
        font-size: 15px;
        color: $darkblue;
        padding: 0 0 0 5px;

        &--disable{
            font-family: $Poppins-medium;
            font-size: 15px;
            color: $gray;
            padding: 0 0 0 5px;
        }

    }
    
    &__right-container{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        margin-left: auto;
        background-color: $darkgray;
    }

    &__calendar-container{
        height: 30%;
        width: 100%;
    }

    &__schedule-container{
        height: 45%;
        width: 100%;
    }

    &__reminder-container{
        display: flex;
        flex-direction: column;
        height: 25%;
        padding: 20px 15px;
    }

    &__calendar{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 15px 20px;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    &__schedule{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }

    &__card{
        display: flex;
        flex-direction: column;
        border-radius: $panelsborderradius;
        box-sizing: border-box;
        padding: 15px 20px;
        height: 100%;
        background-color: rgba($color: $gray, $alpha: .2);
    }

    &__card-title{
        color: $white;
        font-family: $Poppins-bold;
        font-size: 15px;
        margin: 0;
    }

    &__card-text-area{
        font-family: $Poppins-regular;
        font-size: 12px;
        width: 100%;
        height: 100%;
        outline: none;
        background-color: transparent;
        border-style: none;
        color: $white;
        resize: none;
        overflow-y: hidden;
    }
}