.home{

    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;

    &__left-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__publicity-container{
        min-height: 206px;
        height: 33.3%;
        margin-top: 30px;
        border-radius: 25px;
        margin-left: $main-margin;
        margin-right: $main-margin;
        background-color: $panelbackground;
    }

    &__modules-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 35px;
        row-gap: 30px;
        grid-auto-rows: minmax(auto, 50%);
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: $main-margin;
        margin-right: $main-margin;
    }

    &__panel-container{
        display: flex;
        flex-direction: column;
        min-height: 270px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    &__select-container{
        
    }

    &__panel-title{

    }

    &__select{
        // Additional resets for further consistency
        background-color: transparent;
        border: none;
        margin: 0 0 15px 0;
        width: auto;
        font-family: $tertiary-font-family;
        font-size: 20px;
        cursor: pointer;
        color: white;
        outline: none;
        display: block;

        &::-webkit-scrollbar { 
            width: 0;
        }
        
    }

    &__select-option{
        font-family: $secondary-font-family;
        font-size: 15px;
        color: $darkblue;
        padding: 0 0 0 5px;

        &--disable{
            font-family: $secondary-font-family;
            font-size: 15px;
            color: $gray;
            padding: 0 0 0 5px;
        }

    }
    
    &__right-container{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        margin-left: auto;
        background-color: $darkgray;
    }

    &__calendar-container{
        height: 30%;
        width: 100%;
    }

    &__schedule-container{
        height: 45%;
        width: 100%;
    }

    &__reminder-container{
        height: 25%;
        width: 100%;
    }

    &__calendar{
        box-sizing: border-box;
        padding: 20px;
        height: 100%;
        width: 100%;
        background-color: $panelbackground;
    }

    &__schedule{
        box-sizing: border-box;
        padding: 20px;
        height: 100%;
        width: 100%;
    }

    &__reminder{
        box-sizing: border-box;
        padding: 20px;
        height: 100%;
        width: 100%;
        background-color: $panelbackground;
    }
}