.ranking-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__title{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 18px;
    }

    &__ranks-container{
        display: grid;
        grid-template-columns: 30% 40% 30%;
        height: auto;
    }

    &__rank{
        display: flex;
        flex-direction: column;
        //margin-top: auto;
        align-items: center;
        &--middle{
            //margin-top: 0;
        }
    }

    &__rank-icon{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        border-radius: 100%;
        margin-top: 40px;

        &--middle{
            margin-top: 0;
            //padding: 40px;
        }
    }

    &__course-letter{
        text-align: center;
        position: absolute;
        font-size: 20px;
        top: 48%;

        &--middle{
            font-size: 30px;
            top: 40%;
        }
    }

    &__course-name{
        text-align: center;
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 15px;    
    }

    &__rank-name{
        text-align: center;
        font-family: $poppins-light-italic;
        font-size: 15px;
        margin: 0;
    }

    &__rank-points{
        text-align: center;
        font-family: $poppins-light-italic;
        font-size: 10px;
        margin: 0;
    }

    &__rank-color{

        &--1{
            fill: $bronze !important;
        }

        &--2{
            fill: $silver !important;
        }

        &--3{
            fill: $gold !important;
        }

        &--4{
            fill: $platinum !important;
        }

        &--5{
            fill: $emerald !important;
        }

        &--6{
            fill: $diamond !important;
        }

        &--7{
            fill: $redDiamond !important;
        }
    }

}

.svg-container{
    height: 142px !important;
}