.individual-course {
    background-color: $panelsbackground;
    width: 480px;
    padding: 5px 20px;
    border-radius: $panelsborderradius;
    position: relative;
    margin-bottom: 30px;

    &__title-link {
        text-decoration: none;

        &--updates::after {
            content: attr(data-content);
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            background-color: $magenta;
            color: $white;
            font-weight: 800;
            top: -12px;
            right: -12px;
        }
    }

    &--important::after {
        content: "!";
        position: absolute;
        font-size: 45px;
        color: $magenta;
        font-weight: 800;
        top: 5px;
        right: 100px;
    }

    &::before {
        content: "";
        width: 25px;
        height: 100%;
        top: 0;
        right: 30px;
        position: absolute;
        background-color: var(--mainColor);
    }

    .icon:first-child {
        margin-left: 0px;
        margin-right: 7px;
    }

    &__text-progress {
        opacity: 0.8;
    }

    &__progress-bar {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        display: block;
        margin-top: 10px;
        width: 330px;
        height: 10px;

        &::-webkit-progress-value {
            border-top-right-radius: 0%;
            border-bottom-right-radius: 0px;
            border-radius: 8px;
            background: var(--mainColor);
        }
        &::-webkit-progress-bar {
            border-radius: 8px;
            background: #273049;
        }
    }
}
