html, body{
    margin:0; 
    padding:0; 
    min-height:100vh;
    font-family: $primary-font-family;
    background-color: $darkbackground;
    color: $white;
}

h1 {
    font-size: 22px;
    font-family: $tertiary-font-family;
}

a {
    color: $white;
}
p, h2 {
    margin: 10px 0px;
}

.icon{
    margin: 0px 5px;
}

::-webkit-scrollbar {
    /* width of the entire scrollbar */
    width: 17px;             
}
  
::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: transparent;        
}
  
::-webkit-scrollbar-thumb {
    //display: none;
    /* color of the scroll thumb */
    background-color: rgba(144, 152, 189, 0.2);    
    /* roundness of the scroll thumb */
    border-radius: 20px;     
    /* creates padding around scroll thumb */  
    border: 5px solid $darkbackground;  

    &:hover{
        //display: flex;
    }
}

.app{

    &__content{
        height: 100%;
    }

    &__navbar{
        color: white;
        display: flex;
        flex-direction: row;
        min-height: 60px;
        height: 10%;
        justify-content: space-between;
        background-color: $darkblue;
        align-items: center;
    }

    &__logo{
        margin-left: $main-margin;
        height: 30%;
    }

    &__linkscontainer{
        display: flex;
        flex-direction: row;
        width: 33%;
        justify-content: space-around;
        align-items: center;
    }

    &__link{

        color: white;
        font-size: 14px;
        text-decoration: none;

        &--selected{
            color: white;
            font-family: $tertiary-font-family;
            font-size: 18px;
            text-decoration: none;
        }
    }

    &__useroptionscontainer{
        display: flex;
        flex-direction: row;
        margin-right: $main-margin;
        align-items: center;
        height: 100%;
    }

    &__notificationsicon{
        height: 30%;
    }

    &__usernameandocupation{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        line-height:100%;
    }

    &__navusername{
        margin: 0;
        font-size: 15px;
        font-family: $tertiary-font-family;
    }

    &__navuserocupation{
        margin: 0;
        font-size: 14px;
    }

    &__useravatarcontainer{
        height: 70%;
    }

    &__useravatar{
        height: 100%;
    }

    &__sectionscontainer{
        display: flex;
        flex-direction: column;
        height: 90%;
    }
}