html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: $Poppins-regular;
    background-color: $darkbackground;
    color: $white;
}

h1 {
    font-size: 22px;
    font-family: $Poppins-bold;
}

a {
    color: $white;
}
p,
h2 {
    margin: 10px 0px;
}

p, h2 {
    margin: 10px 0px;
}

abbr{
    text-decoration: none;
}

.icon{
    margin: 0px 5px;
}
.tooltip {
    cursor: help;
    &:hover::after {
        content: attr(data-content);
        background-color: $gray;
        position: absolute;
        max-width: 220px;
        border-radius: 5px 5px 5px 0px;
        padding: 10px;
        bottom: 30px;
        color: $white;
    }
}

.activity {
    padding: 4px 8px;
    border-radius: 5px;
    color: $white;
    background-color: var(--bgColor);
    position: relative;

    &--important {
        background-color: $magenta;
        &::after {
            content: "!";
            position: absolute;
            font-size: 45px;
            color: $magenta;
            font-weight: 800;
            bottom: -19px;
            right: -25px;
        }
    }
}

.purple{
    background-color: $purple;
}

.gray{
    background-color: $gray;
}

.yellow{
    background-color: $yellow;
}

.magenta{
    background-color: $magenta;
}

.diamond{
    background-color: $diamond;
}

.pearl{
    background-color: $pearl;
}

hr {
    width: 100%;
    margin: 0;
    border-color: #ffffff20;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]::before {
    position: absolute;
    content: " ";
    transform: scale(0);
    transition: transform 0.3s ease;
    height:  5px; 
    width:  12px; 
    border-radius: 1.5px;
    background:  none; 
    transform: rotate(-45deg) scale(0);
    transition:  transform .1s ease, opacity .1s ease;
    transform-origin: center center; 
    margin-top: -3px;
}

input[type="checkbox"]:checked::before {
    opacity: 1;
    transform: rotate(-45deg) scale(0.8);
}

::-webkit-scrollbar {
    /* width of the entire scrollbar */
    width: 17px;
}

::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    //display: none;
    /* color of the scroll thumb */
    background-color: rgba(144, 152, 189, 0.2);
    /* roundness of the scroll thumb */
    border-radius: 20px;
    /* creates padding around scroll thumb */
    border: 5px solid $darkbackground;

    &:hover {
        //display: flex;
    }
}

.app {
    &__content {
        height: 100%;
    }

    &__navbar {
        color: $white;
        display: flex;
        flex-direction: row;
        min-height: 60px;
        height: 10%;
        justify-content: space-between;
        background-color: $darkblue;
        align-items: center;
    }

    &__logo {
        margin-left: $main-margin;
        height: 30%;
    }

    &__links-container {
        display: flex;
        flex-direction: row;
        width: 33%;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    &__link {
        display: flex;
        color: $white;
        font-size: 14px;
        text-decoration: none;
        height: 100%;
        align-items: center;

        &--selected {
            font-family: $Poppins-bold;
            font-size: 18px;
            color: $yellow;
            border-bottom: 5px solid $yellow;
            box-sizing: border-box;
            padding: 0 20px;
        }
    }

    &__user-options-container {
        display: flex;
        flex-direction: row;
        margin-right: $main-margin;
        align-items: center;
        height: 100%;
    }

    &__notifications-icon {
        height: 30%;
    }

    &__username-and-ocupation {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        line-height: 100%;
    }

    &__nav-username {
        margin: 0;
        font-size: 15px;
        font-family: $Poppins-bold;
    }

    &__nav-user-ocupation {
        margin: 0;
        font-size: 14px;
    }

    &__user-avatar-container {
        height: 70%;

        .app__link--selected{
            border: none;
        }
    }

    &__user-avatar {
        height: 100%;
        border-radius: 100%;
    }

    &__sections-container {
        display: flex;
        flex-direction: column;
        height: 90%;
    }
}
